@import "tailwindcss";

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-report, .printable-report * {
    visibility: visible;
  }
  .printable-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}
